[submodule "upstream/cmbacktrace"]
	path = third-party/upstream/cmbacktrace
	url = https://github.com/armink/CmBacktrace.git
	shallow = true
[submodule "upstream/nanopb"]
	path = third-party/upstream/nanopb
	url = https://github.com/nanopb/nanopb.git
	shallow = true
[submodule "upstream/ring-buffer"]
	path = third-party/upstream/ring-buffer
	url = https://github.com/AndersKaloer/Ring-Buffer.git
	shallow = true
[submodule "upstream/tinyframe"]
	path = third-party/upstream/tinyframe
	url = https://github.com/MightyPork/TinyFrame.git
	shallow = true
[submodule "upstream/freertos-kernel"]
	path = third-party/upstream/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	shallow = true
[submodule "upstream/cmsis-freertos"]
	path = third-party/upstream/cmsis-freertos
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
	shallow = true
[submodule "upstream/cmsis-5-590"]
	path = third-party/upstream/cmsis-5-590
	url = https://github.com/ARM-software/CMSIS_5.git
	shallow = true
[submodule "upstream/cmsis-core"]
	path = third-party/upstream/cmsis-core
	url = https://github.com/ARM-software/CMSIS_5.git
	shallow = true
[submodule "upstream/cordio"]
	path = third-party/upstream/cordio
	url = https://github.com/packetcraft-inc/cordio.git
	shallow = true
[submodule "upstream/ambiqsuite-sdk"]
	path = third-party/upstream/ambiqsuite-sdk
	url = https://github.com/sparkfun/AmbiqSuiteSDK.git
	shallow = true
[submodule "upstream/ambiqhal-apollo510"]
	path = third-party/upstream/ambiqhal-apollo510
	url = https://github.com/AmbiqMicro/ambiqhal_ambiq.git
	shallow = true
[submodule "upstream/qpc"]
	path = third-party/upstream/qpc
	url = https://github.com/QuantumLeaps/qpc.git
	shallow = true
[submodule "upstream/cjson"]
	path = third-party/upstream/cjson
	url = https://github.com/DaveGamble/cJSON.git
	shallow = true
[submodule "upstream/lvgl"]
	path = third-party/upstream/lvgl
	url = https://github.com/lvgl/lvgl.git
	shallow = true
[submodule "upstream/littlefs"]
	path = third-party/upstream/littlefs
	url = https://github.com/littlefs-project/littlefs.git
	shallow = true
[submodule "upstream/lz4"]
	path = third-party/upstream/lz4
	url = https://github.com/lz4/lz4.git
	shallow = true
[submodule "upstream/liblc3"]
	path = third-party/upstream/liblc3
	url = https://github.com/google/liblc3.git
	shallow = true
[submodule "upstream/flashdb"]
	path = third-party/upstream/flashdb
	url = https://github.com/armink/FlashDB.git
	shallow = true
[submodule "upstream/easylogger"]
	path = third-party/upstream/easylogger
	url = https://github.com/armink/EasyLogger.git
	shallow = true
[submodule "upstream/tlsf"]
	path = third-party/upstream/tlsf
	url = https://github.com/mattconte/tlsf.git
	shallow = true
[submodule "upstream/freertos-plus-cli"]
	path = third-party/upstream/freertos-plus-cli
	url = https://github.com/FreeRTOS/FreeRTOS.git
	update = none
	shallow = true
[submodule "upstream/npmx"]
	path = third-party/upstream/npmx
	url = https://github.com/NordicSemiconductor/npmx.git
	shallow = true
[submodule "upstream/invensense-icm45608"]
	path = third-party/upstream/invensense-icm45608
	url = https://github.com/tdk-invn-oss/motion.arduino.ICM45608.git
	shallow = true
[submodule "upstream/freetype"]
	path = third-party/upstream/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	shallow = true
[submodule "upstream/mpaland-printf"]
	path = third-party/upstream/mpaland-printf
	url = https://github.com/mpaland/printf.git
	shallow = true
[submodule "upstream/ambiq-lvgl"]
	path = third-party/upstream/ambiq-lvgl
	url = https://github.com/AmbiqMicro/LVGL.git
	shallow = true
[submodule "upstream/ambiqhal-nema"]
	path = third-party/upstream/ambiqhal-nema
	url = https://github.com/AmbiqMicro/ambiqhal_ambiq.git
	shallow = true
[submodule "upstream/infineon-mtb-pdl-cat2"]
	path = third-party/upstream/infineon-mtb-pdl-cat2
	url = https://github.com/Infineon/mtb-pdl-cat2.git
	shallow = true
[submodule "upstream/infineon-capsense"]
	path = third-party/upstream/infineon-capsense
	url = https://github.com/Infineon/capsense.git
	shallow = true
[submodule "upstream/infineon-emeeprom"]
	path = third-party/upstream/infineon-emeeprom
	url = https://github.com/Infineon/emeeprom.git
	shallow = true
[submodule "upstream/stm32g0xx-hal-driver"]
	path = third-party/upstream/stm32g0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32g0xx-hal-driver.git
	shallow = true
[submodule "upstream/cmsis-device-g0"]
	path = third-party/upstream/cmsis-device-g0
	url = https://github.com/STMicroelectronics/cmsis-device-g0.git
	shallow = true
[submodule "upstream/nationalchip-lvp-kws"]
	path = third-party/upstream/nationalchip-lvp-kws
	url = https://github.com/NationalChip/lvp_kws.git
	update = none
	shallow = true
[submodule "upstream/nationalchip-gxdnn"]
	path = third-party/upstream/nationalchip-gxdnn
	url = https://github.com/NationalChip/gxDNN.git
	shallow = true
[submodule "upstream/fdlibm"]
	path = third-party/upstream/fdlibm
	url = https://github.com/freemint/fdlibm.git
	shallow = true
[submodule "upstream/flashdb-2.0.0"]
	path = third-party/upstream/flashdb-2.0.0
	url = https://github.com/armink/FlashDB.git
	shallow = true
[submodule "upstream/bosch-bma456"]
	path = third-party/upstream/bosch-bma456
	url = https://github.com/boschsensortec/BMA456_SensorAPI.git
	shallow = true
[submodule "upstream/st-lis2dw12"]
	path = third-party/upstream/st-lis2dw12
	url = https://github.com/STMicroelectronics/lis2dw12-pid.git
	shallow = true
[submodule "upstream/st-fp-sns-stbox1"]
	path = third-party/upstream/st-fp-sns-stbox1
	url = https://github.com/STMicroelectronics/fp-sns-stbox1.git
	update = none
	shallow = true
[submodule "upstream/tiny-aes-c"]
	path = third-party/upstream/tiny-aes-c
	url = https://github.com/kokke/tiny-AES-c.git
	shallow = true
[submodule "upstream/goodix-gh3x2x"]
	path = third-party/upstream/goodix-gh3x2x
	url = https://github.com/coredevices/pebbleos-nonfree.git
	shallow = true
[submodule "reference/goodix-gr551x-micropython"]
	path = third-party/reference/goodix-gr551x-micropython
	url = https://github.com/goodix-ble/GR551x-MicroPython.git
	update = none
	shallow = true
[submodule "reference/iqs7211e-flipperone"]
	path = third-party/reference/iqs7211e-flipperone
	url = https://github.com/flipperdevices/flipperone-mcu-firmware.git
	update = none
	shallow = true
[submodule "reference/iqs7211e-zmk"]
	path = third-party/reference/iqs7211e-zmk
	url = https://github.com/sekigon-gonnoc/zmk-driver-iqs7211e.git
	update = none
	shallow = true
[submodule "reference/ambiq-neuralspot"]
	path = third-party/reference/ambiq-neuralspot
	url = https://github.com/AmbiqAI/neuralSPOT.git
	update = none
	shallow = true
[submodule "reference/ambiq-nsx-sdk"]
	path = third-party/reference/ambiq-nsx-sdk
	url = https://github.com/AmbiqAI/nsx-ambiq-sdk.git
	update = none
	shallow = true
[submodule "reference/g2flash"]
	path = third-party/reference/g2flash
	url = https://github.com/jimrandomh/g2flash.git
	update = none
	shallow = true
[submodule "tools/asm-differ"]
	path = third-party/tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
	shallow = true
[submodule "tools/decomp-permuter"]
	path = third-party/tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
	shallow = true
[submodule "tools/ghidra-svd"]
	path = third-party/tools/ghidra-svd
	url = https://github.com/antoniovazquezblanco/GhidraSVD.git
	shallow = true
[submodule "tools/ghidra-csky"]
	path = third-party/tools/ghidra-csky
	url = https://github.com/taligentx/ghidra_csky_WinnerMicro.git
	shallow = true
[submodule "upstream/infineon-core-lib"]
	path = third-party/upstream/infineon-core-lib
	url = https://github.com/Infineon/core-lib.git
	shallow = true
