[submodule "upstream/cmbacktrace"]
	path = third-party/upstream/cmbacktrace
	url = https://github.com/armink/CmBacktrace.git
[submodule "upstream/nanopb"]
	path = third-party/upstream/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "upstream/ring-buffer"]
	path = third-party/upstream/ring-buffer
	url = https://github.com/AndersKaloer/Ring-Buffer.git
[submodule "upstream/tinyframe"]
	path = third-party/upstream/tinyframe
	url = https://github.com/MightyPork/TinyFrame.git
[submodule "upstream/freertos-kernel"]
	path = third-party/upstream/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "upstream/cmsis-freertos"]
	path = third-party/upstream/cmsis-freertos
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
[submodule "upstream/cmsis-5-590"]
	path = third-party/upstream/cmsis-5-590
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "upstream/cmsis-core"]
	path = third-party/upstream/cmsis-core
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "upstream/cordio"]
	path = third-party/upstream/cordio
	url = https://github.com/packetcraft-inc/cordio.git
[submodule "upstream/ambiqsuite-sdk"]
	path = third-party/upstream/ambiqsuite-sdk
	url = https://github.com/sparkfun/AmbiqSuiteSDK.git
[submodule "upstream/ambiqhal-apollo510"]
	path = third-party/upstream/ambiqhal-apollo510
	url = https://github.com/AmbiqMicro/ambiqhal_ambiq.git
[submodule "upstream/qpc"]
	path = third-party/upstream/qpc
	url = https://github.com/QuantumLeaps/qpc.git
[submodule "upstream/cjson"]
	path = third-party/upstream/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "upstream/lvgl"]
	path = third-party/upstream/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "upstream/littlefs"]
	path = third-party/upstream/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "upstream/lz4"]
	path = third-party/upstream/lz4
	url = https://github.com/lz4/lz4.git
[submodule "upstream/liblc3"]
	path = third-party/upstream/liblc3
	url = https://github.com/google/liblc3.git
[submodule "upstream/flashdb"]
	path = third-party/upstream/flashdb
	url = https://github.com/armink/FlashDB.git
[submodule "upstream/easylogger"]
	path = third-party/upstream/easylogger
	url = https://github.com/armink/EasyLogger.git
[submodule "upstream/tlsf"]
	path = third-party/upstream/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "upstream/freertos-plus-cli"]
	path = third-party/upstream/freertos-plus-cli
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "upstream/npmx"]
	path = third-party/upstream/npmx
	url = https://github.com/NordicSemiconductor/npmx.git
[submodule "upstream/invensense-icm45608"]
	path = third-party/upstream/invensense-icm45608
	url = https://github.com/tdk-invn-oss/motion.arduino.ICM45608.git
[submodule "upstream/freetype"]
	path = third-party/upstream/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
